.navbar {
	background: #ffffff;
	border-bottom: 1px solid #f54f65;
	position: sticky;
	top: 0;

	&--body {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
}

.navbar-links {
	display: flex;
	height: $navbar-links-height;
	justify-self: flex-end;
	line-height: $navbar-links-height;
	list-style: none;
	margin: $navbar-links-margin 0;

	&--anchor {
		color: #333;
		padding: 0 1em;
		text-decoration: none;
		text-transform: uppercase;
	}
}
