//HEADER
$header-height: 60px;

$logo-height: 40px;
$logo-margin: ($header-height - $logo-height) / 2;

$navbar-links-height: 16px;
$navbar-links-margin: ($header-height - $navbar-links-height) / 2;

//SECTION
$section-margin: 60px;

//FOOTER
$footer-padding: 40px;

//GRID
$screen-lg: 1200px;

//COLORS
$color-primary: #f54f65;
$color-secondary: #f78f6a;
$color-black: #333333;
$color-gray: #808080;
$color-white: white;
