// VARIABLES
@import "./variables";

//COMPONENTS
@import "./carousel";
@import "./block-title";
@import "./footer";
@import "./hero";
@import "./logo";
@import "./navbar";
@import "./profile";

html {
	scroll-behavior: smooth;
}

body {
	background: white;
	color: $color-black;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 32px;
	margin: 0;
}

.container {
	margin: auto;
	max-width: $screen-lg;
	width: 100%;
}

.section {
	margin: 4em 0;
}

.flexbox {
	display: flex;
}

.spacer {
	height: $header-height + $section-margin;
	margin-top: (($header-height + $section-margin) * -1);
}
